[submodule "server/hub"]
	path = server/hub
	url = https://github.com/thinkonmay/thinkremote-rtchub
[submodule "server/hid"]
	path = server/hid
	url = https://github.com/thinkonmay/hid-server
[submodule "server/daemon"]
	path = server/daemon
	url = https://github.com/thinkonmay/thinkshare-daemon
[submodule "client/browser-core"]
	path = client/browser-core
	url = https://github.com/thinkonmay/thinkremote-browser-core
[submodule "client/browser"]
	path = client/browser
	url = https://github.com/thinkonmay/thinkshare-browser
[submodule "signaling"]
	path = signaling
	url = https://github.com/thinkonmay/signaling-server
[submodule "client/thinkremote-flutter"]
	path = client/thinkremote-flutter
	url = https://github.com/thinkonmay/thinkremote-flutter
[submodule "client/thinkremote-flutter-core"]
	path = client/thinkremote-flutter-core
	url = https://github.com/thinkonmay/flutter_webrtc_remote_desktop
